.header {
  height: $header-height;
  font-size: $size-small;
  background-color: $gallery;
}

.header__logo {
  margin-top: 13px;
}

.header__links {
  margin-top: 5px;
  li {
    display: inline-block;
  }
  li:not(:first-child) {
    margin-left: 8px;
    border-left: 1px solid $dove-gray;
  }
}

.header__link {
  padding-left: 8px;
  line-height: 22px;
  color: $dove-gray;
  &:hover {
    .user__icons--premium {
      @extend %user__icons--premium-hover;
    }
  }
}

a.header__link {
  text-decoration: underline
}
