.centered-content
  ul.footer__info.center-align
    li
      img.footer__logo(src='./images/logo-mini.png' alt='Doctoralia mini logo')
      span @ 2014 Doctoralia Internet S.L.
    li
      a(href='#') Condiciones de uso y privacidad
    li
      a(href='#') Partners - Soporte