.centered-content
  a(href="/")
    img.header__logo(src='./images/doctoralia-logo.png' alt='Doctoralia logo')
  ul.header__links.right
    li
      span.header__link Centro Médico Front
    li
      a.header__link(href="#") Ver perfil
    li
      a.header__link(href="#")
        i.user__icons.user__icons--premium
        | Perfil Premium
    li
      a.header__link.cabin(href="#") Cerrar sesión
