.centered-content
  ul.nav__list
    li
      a.nav__link(href='#') Perfil
    li
      a.nav__link(href='#') Reserva cita
    li
      a.nav__link(href='#') Pregunta al experto
    li
      a.nav__link(href='#') Estadísticas
    li
      a.nav__link(href='#') Cuenta