.centered-content
  .more-info
    h3.subtitle Más información sobre First Class
    ul
      li.more__info
        span.arrow-right
        b Máximo 3 centros médicos de Sant Cugat del Vallès pueden destacar en una misma especialidad.
        |  Las 3 primeras posiciones en listados se alternan continuamente.
      li.more__info
        span.arrow-right
        | Aparecera
        b destacado en perfiles de otros profesiones y de centro médicos de Sant Cugat del Vallès
        |  que tengan las especialidades que haya contratado con First Class.
      li.more__info
        span.arrow-right
        | No sólo aparecerá en
        b  primeras posiciones en listados de centros médicos de Sant Cugat del Vallès, también lo hará en los listados de profesionales de Sant Cugat del Vallès.
      li.more__info
        span.arrow-right
        | El servicio First Class
        b  incluye el Perfil Premium.
        |  Mientras sea First Class, no pagará el perfil Premium.