.centered-content.clearfix
  .slider-container
     .image-container
      img.mac(src='./images/mac.png' alt='Doctoralia first class')
      ul.slider
        li.slider__image.js-slider__image.current
          img(src='./images/slide1.png' alt='Primeras posiciones en listados')
          img.slider__overlay.js-slider__overlay(src='./images/slide1b.png' alt='Primeras posiciones en listados')
        li.slider__image.js-slider__image
          img(src='./images/slide2.png' alt='Páginas de otros centros Médicos en Sant Cugat del Vallès')
          img.slider__overlay.js-slider__overlay(src='./images/slide2b.png' alt='Páginas de otros centros Médicos en Sant Cugat del Vallès')
        li.slider__image.js-slider__image
          img(src='./images/slide3.png' alt='Perfiles de otros profesiones en Sant Cugat del Vallès')
          img.slider__overlay.js-slider__overlay(src='./images/slide3b.png' alt='Perfiles de otros profesiones en Sant Cugat del Vallès')
        li.slider__image.js-slider__image
          img(src='./images/slide4.png' alt='Páginas de pruebas y enfermedades')
          img.slider__overlay.js-slider__overlay(src='./images/slide4b.png' alt='Páginas de pruebas y enfermedades')
      img.mac.mac--overlay(src='./images/mac-overlay.png')
  .selector-container
    h4.slide__features Destaque en:
    ul
      li.slide__item.js-slide__item
        span.slide__number 1
        span.slide__text Primeras posiciones en listados
      li.slide__item.js-slide__item
        span.slide__number 2
        span.slide__text Páginas de otros centros Médicos en Sant Cugat del Vallès
      li.slide__item.js-slide__item
        span.slide__number 3
        span.slide__text Perfiles de otros profesiones en Sant Cugat del Vallès
      li.slide__item.js-slide__item
        span.slide__number 4
        span.slide__text Páginas de pruebas y enfermedades
    a.slide__see(href='#') Ver más ventajas