// Grey scale colors
$gallery:         #eee;
$dove-gray:       #666;
$silver-chalice:  #aeaaab;
$heavy-metal:     #252f28;
$tundora:         #454545;
$nobel:           #b5b5b5;
$wild-sand:       #f5f5f5;
$dusty-gray:      #9b9b9b;
$alto:            #ddd;
$alto-2:          #d5d5d5;
$concrete:        #f2f2f2;
$wild-sand:       #f5f5f5;
$cream:           #ffc;
$regent-gray:     #859499;
$panache:         #e6f5e6;

// Green scale colors
$emerald:         #5ac865;
$fruit-salad:     #257f28;

// Purple scale colors
$purple:          #ac01af;
$pompadour:       #670167;

// Blue scale color
$william:         #385d66;
$pattens-blue:    #dff8ff;

// Normal colors
$black:           #0f1410;
$white:           #fff;
