html
  head
    include templates/layout/head
  body
    header
      .header
        include templates/layout/header
      nav.navigation
        include templates/layout/menu
    section.first-class
      include templates/sections/titles
      include templates/sections/slider
    section.class-activation.clearfix
      include templates/sections/activation
    section.more
      include templates/sections/more
    footer.footer
      include templates/layout/footer